<a href="https://colab.research.google.com/github/henrybearden/SYS3501/blob/main/BeardenH_3501L4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [3]:
# 20

print(iris.loc[iris['species'] == 'virginica', 'sepal_width'].min())

2.2

In [ ]:
#21
mean_petal_length = iris['petal_length'].mean()
iris_filtered = iris[iris['petal_length'] > mean_petal_length]
print(len(iris_filtered))

93

In [ ]:
#22


print(len(iris[iris['species'] == 'versicolor']))

print(iris['sepal_length'].mean())

print(iris['species'].unique())

print(len(iris[iris['species'] == 'virginica']))

50
5.843333333333334
['setosa' 'versicolor' 'virginica']
50

In [ ]:
#23

import pandas as pd
import numpy as np

iris = sns.load_dataset('iris')

numerical_iris = iris.select_dtypes(include=np.number)

correlation_matrix = numerical_iris.corr(method='pearson')

correlation_matrix = correlation_matrix.mask(np.equal(*np.indices(correlation_matrix.shape)))

max_correlation = correlation_matrix.max().max()
row, col = correlation_matrix[correlation_matrix == max_correlation].stack().idxmax()

print(row)
print(col)

petal_length
petal_width

In [ ]:
# 24
print(iris.loc[iris['species'] == 'setosa', 'petal_length'].mean())

max_sepal_width = iris.groupby('species')['sepal_width'].max()
print(max_sepal_width.idxmax())

print(iris.loc[iris['species'] == 'setosa', 'sepal_length'].std())

max_sepal_length = iris.groupby('species')['sepal_length'].max()
print(max_sepal_length.idxmax())

1.4620000000000002
setosa
0.3524896872134512
virginica

In [ ]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [ ]:
#25
survived_second_class_passengers = titanic[(titanic['pclass'] == 2) & (titanic['survived'] == 1)]
print(len(survived_second_class_passengers))

87

In [ ]:
#26
titanic = sns.load_dataset('titanic')

first_class_not_survived = titanic[(titanic['pclass'] == 1) & (titanic['survived'] == 0)]

if not first_class_not_survived.empty:
  min_age = first_class_not_survived['age'].min()
  max_age = first_class_not_survived['age'].max()
  print(min_age)
  print(max_age)

2.0
71.0

In [ ]:
#27
female_survivors = titanic[(titanic['sex'] == 'female') & (titanic['survived'] == 1)]
total_female_passengers = titanic[titanic['sex'] == 'female']

print(len(female_survivors) / len(total_female_passengers))

0.7420382165605095

In [ ]:
# 28
print(titanic.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
print(titanic.groupby('pclass')['survived'].mean())

print(titanic.groupby('embarked')['survived'].mean())

print(titanic.groupby('embarked')['survived'].mean())

print(titanic['survived'].corr(titanic['pclass']))

print(titanic['survived'].corr(titanic['fare']))

pclass
1    0.629630
2    0.472826
3    0.242363
Name: survived, dtype: float64
embarked
C    0.553571
Q    0.389610
S    0.336957
Name: survived, dtype: float64
embarked
C    0.553571
Q    0.389610
S    0.336957
Name: survived, dtype: float64
-0.3384810359610148
0.2573065223849625